<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<title>Interactive 3D UNITN Map</title>
		<meta name="description" content="An interactive 3D University map concept with a search and pin indicators for every level. " />
		<meta name="keywords" content="University map, 3d, css, javascript, pin, levels, floor map" />
		<meta name="Francesco Fiorelli" content="Codrops" />
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/modernizr-custom.js"></script>
	</head>
	<body>
		<div class="container">
			<div>
				<header class="codrops-header">
					<h1>Interactive University Map</h1>
				</header>
                <div class="ph-container">
                    <div class="ph-container2">
                        <div class="ph-float">
                            <div style="padding-top: 30px"><a href='/Povo1' class='ph-button ph-btn-green'>Povo 1 - Polo A</a></div>
                            <div style="padding-top: 30px"><a href='#' class='ph-button ph-btn-blue'>Povo 2 - Polo B</a></div>
                            <div style="padding-top: 30px"><a href='/Wayfinding' class='ph-button ph-btn-red'>Trova Percorso</a></div>
                        </div> 
                    </div>  
                </div>
            </div>
        </div>
	</body>